/* Version Mobile con media query */


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Epilogue", sans-serif;
  margin: 20px;
  align-items: center;
}

h1 {
  font-size: 1.7em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
p {
  font-size: 1em;
}
ul {
  list-style: none;
}
li {
  font-size: 1.25em;
}

button {
  font-size: 1em;
  font-weight: bold;
  margin: 30px 30px;
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgb(245, 245, 245);
  background-color: rgb(21, 87, 210);
}

button:hover {
  background-color: rgba(21, 87, 210, 0.657);
}


.container {
  max-width: 1300px;
  margin: auto;
  border-radius: 10px;
}

.color-primary {
  color: rgb(21, 87, 210);
}

header {
  background-color: rgb(255, 255, 255);
}

header .logo {
  margin: 0;
  padding: 30px 30px;
  font-weight: bold;
  color: rgb(21, 87, 210);
  font-size: 1.4em;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  width: auto;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

header a {
  padding: 5px 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: rgba(21, 21, 219, 0.852);
}

#hero {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;
  background-image:
    url("assets/bg02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
}

#hero h1 {
  color: rgb(255, 255, 255);
}

#sobremi .container {
  display: flex;
  margin: 10px;
  text-align: left;
  padding: 100px 15px;
  justify-content: flex-start;
}

#mistrabajos {
  background-color: rgba(236, 236, 236, 0);
  color: white;
  text-align: center;

}

#mistrabajos .container {
  padding: 130px 15px;
  margin: 40px;
}

#mistrabajos h1 {
  margin-top: auto;
  font-size: 1.7em;
  color: #000000;
}

#mistrabajos h2 {
  margin-top: 0;
  font-size: 1em;
}

#mistrabajos p {
  display: none;
}

#mistrabajos .carta {
  background-position: center center;
  background-size: auto;
  padding: 50px 20px;
  margin: 30px;
  border-radius: 20px;
}

.carta:first-child {
  background-image: url("assets/bg01.png");
}

.carta:nth-child(2) {
  background-image: url("assets/bg03.png");
}
.carta:nth-child(3) {
  background-image: url("assets/bg04.png");
}

#mais .container {
  text-align: left;
  padding: 80px 80px;
}

#mais li {
  margin: 20px 20px;
  font-weight: bold;
}

#final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: #ccc;
  height: 40vh;
  border-radius: 15px;
}
#final .container{
text-align: center;

}
#final h3 {
  font-size: 5vw;
}

#final button {
  font-size: 1vw;
}
form {
  max-width: 500px;
  margin: 0 0;
  display: flex;
  flex-direction: column;
}
x form label {
  margin: 10px 0 10px;
}

form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
form button {
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  background-color: #333;
  color: white;
  cursor: pointer;
}
form button:hover {
  background-color: #6632df;
}

footer {
  background-color: rgba(154, 218, 255, 0.392);
  border-radius: 15px;
}

footer p {
  margin: 0;
  padding: 20px;
  color: rgb(0, 0, 0);
}

footer .container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}















/* Version Desktop con media query */


@media (min-width: 700px) {
  header {
    position: fixed;
    width: 100%;
    border-radius: 5px;
  }
  html {
    scroll-behavior: smooth;
  }

  header .container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  #hero h1 {
    font-size: 1.7em;
  }

  #sobremi .container {
    display: flex;
    justify-content: space-evenly;
  }

  #sobremi .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #sobremi h2 {
    margin-top: 0px;
  }
  
/* cambiar fotos */
  #sobremi .img-container {
    background-image: url("assets/bg01.png");
    background-size: contain;
    background-position: center center;
    height: 100px;
    width: 100px;
  }

  #mistrabajos .trabajo {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
  }

  #mistrabajos p {
    display: flex;
    margin-bottom: 30px;
  }

  #mistrabajos h2 {
    font-size: 1.3em;
  }

  #mistrabajos h3 {
    margin-top: 0;
  }

  #mistrabajos .carta {
    padding: 20px;
    background-size: 100% 500px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgba(223, 214, 214, 0.045);
    box-shadow: 1px 1px 10px rgba(161, 202, 232, 0.5);
    border-radius: 15px;
  }
  .carta:first-child {
    background-image: url("assets/bg01.png");
  }
  .carta:nth-child(2) {
    background-image: url("assets/bg03.png");
  }
  .carta:nth-child(3) {
    background-image: url("assets/bg04.png");
  }

  #mais {
    background-image: url("assets/bg01.png");
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: calc(300vw - 500px) 150px;
  
  }

  /* resolver esse problema */
  #mais .container {
    text-align: initial;
    
  }

  #mais ul {
    margin-left: 120px;
  }

 form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
x form label {
  margin: 5px 0 5px;
}

form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
form button {
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  background-color: #333;
  color: white;
  cursor: pointer;
}
form button:hover {
  background-color: #7a7878;
}

  @media (min-width: 1200px) {
    header{
  background-position-x: calc(100vw - 800px);
    }


