/* Version Mobile */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Epilogue", sans-serif;
  margin: 20px;
  align-items: center;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
p {
  font-size: 1em;
}
ul {
  list-style: none;
}
li {
  font-size: 1.25em;
}

button {
  font-size: 1em;
  font-weight: bold;
  margin: 30px 30px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgb(245, 245, 245);
  background-color: rgb(21, 87, 210);
}

button:hover {
  background-color: rgba(78, 37, 228, 0.657);
}

.container {
  max-width: 1300px;
  margin: auto;
  border-radius: 0px;
}

.color-primary {
  color: rgb(21, 87, 210);
}

header {
  background-color: rgba(252, 252, 252, 0.55);
}

header .logo {
  margin: 0;
  padding: 30px 30px;
  font-weight: bold;
  color: rgb(21, 87, 210);
  font-size: 1.4em;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

header a {
  padding: 5px 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: rgba(21, 87, 210, 0.657);
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 60vh;
  background-image: url("assets/bghero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
}

#hero h1 {
  color: rgb(255, 255, 255);
}

#sobremi .container {
  display: flex;
  margin: 0;
  text-align: left;
  padding: 100px 12px;
  justify-content: flex-start;
}

#mistrabajos {
  background-color: rgba(236, 236, 236, 0);
  color: rgb(0, 0, 0);
  text-align: center;
}

#mistrabajos .container {
  padding: 30px 12px;
  margin: 30px;
}

#mistrabajos h1 {
  margin-top: 0;
  font-size: 1.5em;
}

#mistrabajos h2 {
  margin-top: 0;
  font-size: 1em;
}

#mistrabajos p {
  display: none;
}

#mistrabajos .carta {
  background-position: center center;
  background-size: auto;
  padding: 50px 20px;
  margin: 30px;
  border-radius: 20px;
}

.carta:first-child {
  background-image: url("assets/bg05.png");
}

.carta:nth-child(2) {
  background-image: url("assets/bg07.png");
}

.carta:nth-child(3) {
  background-image: url("assets/bg08.png");
}

#final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 60vh;
  border-radius: 15px;
}
#final .container {
  text-align: center;
}
#final h3 {
  font-size: 5vw;
}

#final button {
  font-size: 1vw;
}
form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
x form label {
  margin: 5px 0 5px;
}

form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
form button {
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  background-color: #333;
  color: white;
  cursor: pointer;
}
form button:hover {
  background-color: #7a7878;
}

footer {
  background-color: rgb(248, 245, 245);
  border-radius: 15px;
}

footer p {
  margin: 0;
  padding: 10px;
  color: rgb(0, 0, 0);
}

footer .container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 850px) {
  header {
    position: fixed;
    width: 100%;
  }

  /* Version Desktop con media query */

  html {
    scroll-behavior: smooth;
  }

  header .container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  #hero h1 {
    font-size: 1.5em;
  }

  #sobremi .container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
  }

  #sobremi .texto {
    width: 50%;
    max-width: 350px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #sobremi h2 {
    margin-top: 0px;
  }

  #sobremi .img-container {
    background-image: url("assets/icons.png");
    background-size: 125%;
    background-position: center center;
    height: 150px;
    width: 300px;
  }

  #mistrabajos .trabajo {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
  }

  #mistrabajos p {
    display: flex;
    margin-bottom: 30px;
  }

  #mistrabajos h2 {
    font-size: 1.3em;
  }

  #mistrabajos h3 {
    margin-top: 0;
  }

  .trabajos {
    display: flex;
  }

  #mistrabajos .carta {
    padding: 20px;
    background-size: 100% 500px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgba(251, 245, 245, 0.045);
    box-shadow: 1px 1px 10px rgba(161, 202, 232, 0.5);
    border-radius: 15px;
  }
  .carta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(245, 245, 245, 0.062),
        rgba(161, 202, 232, 0.5)
      ),
      url("assets/bg05.png");
  }

  .carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(245, 245, 245, 0.062),
        rgba(161, 202, 232, 0.5)
      ),
      url("assets/bg07.png");
  }

  .carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(245, 245, 245, 0.062),
        rgba(161, 202, 232, 0.5)
      ),
      url("assets/bg08.png");
  }

  form {
    max-width: 500px;
    margin: 0 0;
    display: flex;
    flex-direction: column;
  }
  x form label {
    margin: 0px 0 5px;
  }

  form input,
  form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  form button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  form button:hover {
    background-color: #7a7878;
  }
  footer .container {
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    display: flex;
  }

  footer {
    display: flex;
    margin: center;
    text-align: center;
    padding: 5px 20px;
    background-color: #ffffff;
    color: #000000;
  }

  footer {
    background-color: rgb(248, 245, 245);
  }

  footer p {
    margin: 0;
    padding: 10px;
    color: rgb(0, 0, 0);
  }

  footer .container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
}
@media (min-width: 1300px) {
  #mais {
    flex-direction: row;
    padding: 8px;
  }
}
